#login{
    margin-top: 50px;
    margin-left: 40%;
}

.button{
    border-color: #1e738a;
    color: white;
    margin-left:50px;
    margin-top:10px;
    background-color: #1e738a;
}
#errReg{

    margin-top:20px;
    margin-left:40%;
}
.link{
    cursor: auto;
    float: right;
    margin-right: 10px;
}
#pwdRecovery{
    color: blue;
    font-size: 17px;
    margin-left: 7px;
    text-decoration: none;
}

#cbAtras{
    background-color: grey;
    border-color:grey;
}
.prev_data{
    font-weight: bold;
}

.oculto{
    display: none;
}
.mostrar{
    display: inline;

}
.error{
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: -190px;
    width: 550px;
}
.errorLogin{
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: -10px;
    width: 550px;
}

.input{
    border: 0;
    border-bottom: 2px solid lightgrey;
}

.textArea{
    resize: none;
    width: 64%;
    height: 100px;
    margin-top:-20px;
}

.celdaExpLaboral{
    border: none;
}

.resumen{
    margin-left:60%;
}

.nomProyecto{
    text-align:left;
    width: 200px;
    height: 150px;
    border: none;
    resize: none;
    margin-bottom: -5px;
}

.rolProyecto{
    width: 200px;
    height: 150px;
    border: none;
    resize: none;
    margin-bottom: -5px;
}

.descProyecto{
    text-align:left;
    width: 350px;
    height: 150px;
    border: none;
    resize: none;
    margin-bottom: -5px;
}

.botonAñadir{
    border-color: #1e738a;
    color: white;
    margin-left:200px;
    margin-top:10px;
    background-color: #1e738a;
}